<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>NUMO</title>
</head>
<body>
    <header>
        <div class="header__cont">
            <img src="/static/images/logo.svg" alt="">
            <div class="header__links">
                <a href="/templates/index.html"><p class="home__link">Головна</p></a>
                <a href=""><p class="support__link">Підтримка</p></a>
                <a href=""><p class="fq__link">F&Q</p></a>
            </div>
            <div class="account__link">
                <img src="/static/images/account.svg" alt="" class="account__img">
                <a href=""><p class="account__link">Акаунт</p></a>
            </div>
        </div>
    </header>
    <main>
        <div class="start__page__cont">
            <div class="numo__arrow__cont">
                <img class="numo_arrow" src="/static/images/numo_arrow.svg" alt="">
            </div>
            <div class="start__page__text__cont">
                <p class="motivation__text">МОТИВАЦІЯ</p>
                <p class="start__page__add__text">Так, це все.</p>
                <a class="start__button" href="#">Почати зараз <img class="vector" src="/static/images/Vector.svg" alt=""></a>
            </div>
            <img class="start__page__lines" src="/static/images/start_page_lines.svg" alt="">
        </div>
        <div class="why__we__line">
            <p class="why__we">ЧОМУ МИ?</p>
            <p class="why__we">ЧОМУ МИ?</p>
            <p class="why__we">ЧОМУ МИ?</p>
        </div>
        <div class="down__arrow__cont">
            <img class="down__arrow" src="/static/images/down_arrow.svg" alt="">
        </div>
        <div class="mission__section_cont">
            <p class="mission__title">Місія «<span class="green__text">Нумо</span>»</p>
            <div class="mission__section__text__cont">
                <a class="start__button" href="#">Почати зараз <img class="vector" src="/static/images/Vector.svg" alt=""></a>
                <p class="mission__add_text">Сформувати <span class="green__text">спільноту</span>, де суспільство <span class="green__text">надихатиме</span> та <span class="green__text">підтримуватиме</span> одне одного для досягнення особистісних <span class="green__text">цілей</span>.</p>
            </div>
            <img src="/static/images/green_lines.svg" alt="" class="green__lines">
        </div>
        <div class="goal__section__cont">
            <div class="goal__text__cont">
                <p class="goal__text">МЕТА</p>
                <p class="goal__text">МЕТА</p>
                <p class="goal__text">МЕТА</p>
            </div>
            <div class="goal__info__cont">
                <p class="goal__info__text">Допомогти людям покращувати самодисципліну на основі створення звичок, завдяки взаємодопомоги та мотивації.</p>
                <a class="goal__button" href="#">Почати зараз <img class="vector" src="/static/images/Vector_white.svg" alt=""></a>
            </div>
            <img src="/static/images/black_lines.svg" alt="" class="black__lines">
        </div>
    </main>
</body>
</html>